{% extends 'nav.html' %}

{% block title %}
Add a new course!
{% endblock %}

{% block content %}
<br><br>
<div class="container">
	
	{% if mtype == "AD" %}
		{% if students and profs %}
			<h3 class="center">Add a course</h3>
			<form action="" method="POST">
				{% csrf_token %}
				<div class="input-field">
					<input type="text" name="name" required="required">
					<label for="name">Course name:</label>
				</div>

				<div class="input-field">
					<input type="number" min="1" max="3" name="semester" required="required">
					<label for="semester">Semester:</label>
				</div>

				<div class="input-field">
					<input type="text" name="code" required="required">
					<label for="code">Course Code:</label>
				</div>


				<div class="row">
				<!-- Professors -->
				<div class="col s4">
					<h5>Professors:</h5>
					{% for prof in profs %}
					<div class="input-field">
						<input type="radio" name="prof" {%if forloop.counter == 1 %}checked="checked"{% endif %} id="prof{{forloop.counter}}" value="{{prof.user.username}}">
						<label for="prof{{forloop.counter}}">{{prof.fullname}}</label>
					</div>
					{% endfor %}
				</div>

				<!-- Teaching Assistants -->
				<div class="col s4">
					<h5>Teaching Assistants:</h5>
					{% for ta in tas %}
					<div class="input-field">
						<input type="checkbox" id="ta{{forloop.counter}}" name="ta" value="{{ta.user.username}}">
						<label for="ta{{forloop.counter}}">{{ta.fullname}}</label>
					</div>
					{% endfor %}
				</div>

				<!-- Students -->
				<div class="col s4">
					<h5>Students:</h5>
					{% for student in students %}
					<div class="input-field">
						<input type="checkbox" id="student{{forloop.counter}}" name="student" value="{{student.user.username}}">
						<label for="student{{forloop.counter}}">{{student.fullname}}</label>
					</div>
					{% endfor %}
				</div>

				</div>
				<br>
				<div class="input-field center">
					<input type="submit" class="btn light-waves" value="Add Course!">
				</div>
			</form>
		{% else %}
			There are insufficient Professors or students. <br>
			<a href="{% url 'website:home' %}" class="btn waves-effect">Go back to Home!</a>
		{% endif %}

	{% else %} 
		You are not an admin! Please go back!
	{% endif %}

</div>
{% endblock %}