{% extends 'nav.html' %}

{% block title %} Course Details for {{course.code}} {% endblock %}

{% block content %}
	<div class="container">
	<br>
	<br>
	<br>
		{% if error %}
			<div class="center">
				{{error}}
			</div>
		{% else %}

			<h3>Course details for {{course.course_code}}</h3>
			<b>Course name</b>: {{course.name}} <br>
			<b>Semester</b>: {{course.semester}} <br>
			<b>Year</b>: {{course.added.year}} <br>
			<b>Students Enrolled</b>: {{students_enrolled}} <br>
			<b>Number of Teaching Assistants</b>: {{ta_count}} <br>
			<hr>
			{% if member.mtype == "AD" %}
			<b>Professor</b>: {{courseprof}} <br>
			{% endif %}

			
			<div class="row">
				<div class="col s7">
					<h5>Feedbacks</h5>
				</div>
				<div class="col s5 right-align">
				{% if member.mtype != "AD" %}<a href="{% url 'website:add_feedback' course.pk %}" class="btn red">Add Feedback</a>{% endif %}
				</div>
			</div>
			{% if feedbacks %}
					{% for feedback in feedbacks %}
					
								<div class="card">
						           <div class="card-content">
						           		<b>Name:</b> {{feedback.name}} <br>
						           		<b>Deadline:</b> {{feedback.deadline | date:'d M, Y'}} <br>
						           </div>
									{% if member.mtype != "AD" %}
									<div class="card-action">
									<a class="btn" href="{% url 'website:view_feedback' feedback.pk %}">View feedback details</a> <br>
									</div>
									{% endif %}
						         </div>
					{% endfor %}
			{% else %}
				<p>Hurray, no feedbacks!</p>
			{% endif %}

			<h5>Assignments</h5>
			
			{% if assignments %}
				{% for assignment in assignments %}
				<p>{{assignment.name}}</p>
				{% endfor %}
			{% else %}
				<p>Hurray, no assignments!</p>
			{% endif %}

		{% endif %}
	</div>
    <center><a class="waves-effect waves-light btn" href="{% url 'website:view_course' %}">Back</a></center>
{% endblock %}