{% extends 'nav.html' %}

{% block content %}
	<div class="container">
		<br>
		<br>
		<br>
		Welcome, {{member.fullname}} <br>
		You are of type {{member.get_mtype_display}} <br> <br>
		<hr>

		<!-- Add content here -->
		{% if member.mtype == "AD" %}
			<div class="row center">
				<div class="col s6">
					<a href="{% url 'website:add_course' %}" class="btn waves-effect">Add Courses!</a>
				</div>
				<div class="col s6">
					<a href="{% url 'website:view_course' %}" class="btn waves-effect">View Courses</a>
				</div>
			</div>
		{% else %}
			<div class="row center">
				<div class="col s12">
					<a href="{% url 'website:view_course' %}" class="btn waves-effect">View Courses</a>
				</div>
			</div>
		{% endif %}

	</div>
{% endblock %}