{% extends "base.html" %}
{% block title %}
Login / Sign Up
{% endblock %}

{% block content %}
    <!-- This is where the login and signup form will be! -->
    <div class="container">

        <div style="text-align: center">
            <h4>Welcome to Feed'er!</h4>
        </div>

        <!-- Tab bars -->
        <div class="row">
            <div class="col s12">
              <ul class="tabs">
                <li class="tab col s6"><a class="active" href="#loginContainer">Login</a></li>
                <li class="tab col s6"><a href="#signupContainer">Signup</a></li>
              </ul>
            </div>

            <!-- The forms -->
            <div id="loginContainer" class="col s12">
                <div class="container">
                    <br>
                    <br>
                    <!-- form here -->
                    <form action="" method="POST" name="signinForm">
                        {% csrf_token %}
                        <div class="input-field">
                            <input type="text" id="username" name="username" class="validate" required="required">
                            <label for="username">Username:</label>
                        </div>

                        <div class="input-field">
                            <input type="password" name="password" id="password" class="validate" required="required">
                            <label for="password">Password:</label>
                        </div>

                        <div class="input-field center">
                            <input type="submit" id="loginSubmit" value="Login" class="btn waves-light">
                        </div>

                    </form>
                    <!--  Facebook Login here -->
                    <br><br>
                    <a href="{% url 'social:begin' 'facebook' %}" class="btn">Login with Facebook</a>
                </div>
            </div>

            <!-- signup -->
            <div id="signupContainer" class="col s12">
                <br><br>
                <!-- form is here -->
                <form action="/signup" method="POST" name="signupForm">
                    {% csrf_token %}
                    <div class="input-field">
                        <input type="text" id="fullname" name="fullname" required="required">
                        <label for="fullname">Full name:</label>
                    </div>

                    <div class="input-field">
                        <input type="text" name="sUsername" id="sUsername" required="required">
                        <label for="sUsername">Choose an username:</label>
                    </div>

                    <div class="input-field">
                        <input type="password" name="sPassword" id="sPassword" required="required">
                        <label for="sPassword">Choose a password:</label>
                    </div>

                    <div class="input-field">
                        <input type="password" name="sPasswordConfirm" id="sPasswordConfirm" required="required">
                        <label for="sPasswordConfirm">Confirm password:</label>
                    </div>

                    <div class="input-field">
                        <input type="checkbox" name="prof" id="prof">
                        <label for="prof">I'm a professor!</label>
                    </div>

                    <div class="input-field center">
                        <input type="submit" name="signupSubmit" id="signupSubmit" class="btn waves-light" value="Sign Up">
                    </div>

                </form>
            </div>

          </div>

    </div>
{% endblock %}