{% extends 'nav.html' %}
{% load index %}
{% block title %} Feedback details for {{member.fullname}} {% endblock %}

{% block content %}
	<div class="container">
	<br>
	<br>
	<br>
		{% if error %}
			<div class="center">
				{{error}}
			</div>
		{% else %}
			<h5>All feedbacks for {{member.fullname}}</h5>
			{% for c in course_data %}
				<div class="card-panel">
					<h5>{{c.course.name}} - {{c.course.course_code}}</h5>
					{% if c.feedbacks %}
						{% for feedback in c.feedbacks %}
							<a href="{% url 'website:view_feedback' feedback.pk %}" class="btn btn-block">{{feedback.name}}</a><br>
						{% endfor %}
					{% else %}
					Sorry, no feedback forms for this course. Add one <a href="{% url 'website:add_feedback_all' %}">here.</a>
					{% endif %}
				</div>
			{% endfor %}
		{% endif %}
	</div>
{% endblock %}